{% extends "base.html" %}
{% load static %}

{% block page_content %}
<ul class="nav nav-tabs" id="userTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link {%if active_tab == 0 %} active {% endif %}" id="user_tab" href="/user/settings/{{ pk }}?next={{ next }}">Профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_tab == 1 %} active {% endif %}" id="stations_tab" href="/user/station-settings/{{ pk }}?next={{ next }}">Мои станции</a>
  </li>
</ul>
{% endblock %}
