{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-10 ">
<h2>Log In</h2>
  {% if form.errors %}
    <p>Неверный логин/пароль. Попробуйте снова.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Недостаточно прав.</p>
    {% else %}
      <p>Войдите, чтобы продолжить.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
        </div>
    </div>

{% endblock %}