{% extends "user/custom_settings.html" %}
{% load static %}

{% block page_content %}
{{ block.super }}

<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-10 ">
<h1>Настройки профиля</h1>
<form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group row">
    <label for="login" class="col-sm-2 col-form-label">Логин</label>
    <div class="col-sm-4">
      <input type="text" class="form-control-plaintext" id="login" value="{{ user.username }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="user_email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-4">
        <input type="email" class="form-control" id="user_email" name="email" value="{{ user.email }}">
        <p style="color: red">{{ form.email.errors.as_text }}</p>
    </div>
  </div>
    <div class="form-group row">
        <label for="avatar" class="col-sm-2 col-form-label">Аватар</label>
        <div class="col-sm-4">
            <img src='{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static user_default_avatar %} {% endif %}' id="img-preview" width="100" height="100" alt="No image">

            <div class="custom-file">
              <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*"  onchange="loadFile(event)">
              <label class="custom-file-label" for="avatar" id="file_name" data-browse="Загрузить">{{ file_name|default_if_none:'Выберите файл...' }}</label>
                <p style="color: red">{{ form.avatar.errors.as_text }}</p>
            </div>
        </div>
    </div>

  <div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary"  value="Update">Сохранить</button>
        <input type="hidden" name="next" value="{{ next }}">
    </div>
  </div>
</form>
    </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
<script src='{% static "/user/js/jquery-1.8.0.min.js" %}'></script>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script  type="text/javascript">
    $(document).ready(function () {
        $("#avatar").change(function() {

            var preview = document.getElementById('img-preview');

            if (event.target.files.length > 0) {
                preview.src = URL.createObjectURL(event.target.files[0]);
                preview.onload = function() {
                  URL.revokeObjectURL(preview.src)
                }
                document.getElementById('file_name').innerHTML = event.target.files[0].name
            }

        });
    });
    </script>
{% endblock %}