<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block title %}<title>Moscow air quality</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .content {
            margin: 10px; /* Убираем отступы */
        }

        .title {
            padding: 10px; /* Поля вокруг текста */
        }

    </style>
    {% block links %}
    {% endblock %}
</head>
<body class="content">
    <nav class="navbar navbar-light bg-light" >
        <div>
            <img src='{% static "img/logotype.png" %}' width="50" height="50">
            <a class="navbar-brand" href="{% url 'index' %}">
                <h1 class="title">Moscow air quality aggregator</h1>
            </a>
        </div>


    </nav>

    {% block page_content %} page content {% endblock %}

    {% block scripts %}
    <link rel="stylesheet" href='{% static "/css/bootstrap.min.css" %}' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='{% static "/js/bootstrap.min.js" %}' integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% endblock %}
    {% block js %}
    {% endblock %}
</body>

</html>

