<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% block title %}<title>Moscow air quality</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .content {
            margin: 10px;
        }

        .title {
            padding: 10px;
        }

    </style>
    {% block links %}
    {% endblock %}
</head>
<body class="content">
    <nav class="navbar navbar-light bg-light" >
        <div>
            <img src='{% static "img/logotype.png" %}' width="50" height="50">
            <a class="navbar-brand" href="{% url 'index' %}">
                <h1 class="title">Moscow air quality aggregator</h1>
            </a>
        </div>

        <div align="right">
            {% if user.is_authenticated %}
                <img src='{% if user.avatar %}{{ user.avatar.url }} {% else %} {% static user_default_avatar %} {% endif %}' width="25" height="25">
                <a class="btn btn-link" href="{% url 'settings' user.id %}?next={{request.path}}">{{ user.username }}</a>
                <a class="btn btn-outline-primary" href="{% url 'logout'%}?next={{request.path}}">Log out</a>
            {% else %}
                <a class="btn btn-link" href="{% url 'login'%}?next={{request.path}}">Log In</a>
                <a class="btn btn-outline-primary" href="{% url 'signup'%}?next={{request.path}}">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% block page_content %} page content {% endblock %}

    {% block scripts %}
    <link rel="stylesheet" href='{% static "/css/bootstrap.min.css" %}' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='{% static "/js/bootstrap.min.js" %}' integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% endblock %}
    {% block js %}
    {% endblock %}
</body>

</html>

