{% extends "base.html" %}
{% load static %}

{% block links %}
{{ block.super }}
<link href='{% static "main/css/main.css" %}' rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}

{% load main_tags %}

<h2>Average data in the city</h2>


<div class="container" style="margin:10px">
    <div class="row">
        <div class="col-sm">
           {% include "main/service_summary_data.html" with service_name="MosEcoMonitoring" list=mos_eco %}
        </div>
        <div class="col-sm">
          {% include "main/service_summary_data.html" with service_name="AirCms" list=air_cms %}
        </div>
    </div>
</div>


{% endblock %}
