 {% load main_tags %}

  <h5 class="card-header service-card-header">{{ service_name }}</h5>
  <div class="card-body">
    <div class="card-deck">
        {% for  key, value in list.items %}
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <br>
            <div class="card-deck">
            {% endif %}
            <div class="card" style="width: 18rem;">
                <h5 class="card-header value-card-header">{{ key }}</h5>
                <div class="card-body">
                    <h5 class="card-title" align="center">{{ substances|get_dict_value:key}}</h5>
                    <p class="card-text value" align="center">{{ value }}</p>
                </div>
            </div>

        {% endfor %}
    </div>
  </div>