{% extends "base.html" %}
{% load static %}

{% block links %}
{{ block.super }}
<link href='{% static "main/css/main.css" %}' rel="stylesheet" type="text/css">
{% endblock %}

{% block page_content %}

{% load static %}
{% load main_tags %}

<h2>{{service_id|get_service_name}}</h2>
<h3>{{ substance_name}}</h3>
<div>
 Last measure : {{ last_datetime }}
</div>
<div>
 Value : {{ last_value|floatformat:3 }}
</div>

 <img src="data:image/png;base64, {{ graph }}" alt="" height="400", width="700">

{% endblock %}

